body {  background-color: #3F2860;
        color: #3F2860;
        font-family: sans-serif;}
header { background-color: #9BC1C2;
            background-image: url("lilyheader.jpg");
            background-repeat: no-repeat;
            background-position: right;
            height: 150px;}
h1 { line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;}
nav { font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding: 1em;}
studio { font-style: italic; }
footer { font-style: italic;
        text-align: center;
        font-size: .60em;
        background-color: #9BC1C2;
        padding: 1em;}
#wrapper { margin-left: auto;
            margin-right: auto;
            width: 80%;
    background-color: #F5F5F5;
    min-width: 1000px;
    max-width: 1280px;}
main { padding-left: 2em;
        padding-right: 2em;}
img {padding-left: 1em;
    padding-right: 1em;}
#hero {text-align: center;}